<footer class="footer">
  <div class="footer-content">
    <div class="top-row">
      <div class="logo">
        <img src="/logo.svg" alt="Clipboard Logo" />
      </div>
      <div class="links">
        <a href="#" i18n="@@footerFaqs">FAQs</a>
        <a href="#" i18n="@@footerContactUs">Contact Us</a>
        <a href="#" i18n="@@footerPrivacyPolicy">Privacy Policy</a>
        <a href="#" i18n="@@footerPressKit">Press Kit</a>
        <a href="#" i18n="@@footerInstallGuide">Install Guide</a>
      </div>
      <div class="social-icons">
        <a href="#"><img src="/icon-facebook.svg" alt="Facebook" i18n="@@facebookIconAlt"></a>
        <a href="#"><img src="/icon-twitter.svg" alt="Twitter" i18n="@@twitterIconAlt"></a>
        <a href="#"><img src="/icon-instagram.svg" alt="Instagram" i18n="@@instagramIconAlt"></a>
      </div>
    </div>
  </div>
</footer>