<footer class="footer">
  <div class="footer-content">
    <div class="top-row">
      <div class="logo">
        <img src="/logo.svg" alt="Clipboard Logo" />
      </div>
      <div class="links">
        <a href="#">FAQs</a>
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Press Kit</a>
        <a href="#">Install Guide</a>
      </div>
      <div class="social-icons">
        <a href="#"><img src="/icon-facebook.svg" alt="Facebook" /></a>
        <a href="#"><img src="/icon-twitter.svg" alt="Twitter" /></a>
        <a href="#"><img src="/icon-instagram.svg" alt="Instagram" /></a>
      </div>
    </div>
  </div>
</footer>
