<main>
  <section class="section-one">
    <div class="section-container-one">
      <h2 class="section-one-h2">Keep track of your snippets</h2>
      <p class="section-one-lead">
        Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on
        all your devices. Our Mac and iOS apps will help you organize everything.
      </p>
    </div>
    <div class="section-one-container-two">
      <div class="section-one-img-container">
        <img class="computer-image" src="/image-computer.png" alt="computer image" />
      </div>
      <div class="section-one-articles-container">
        <article class="section-one-art-one">
          <h2>Quick Search</h2>
          <p>Easily search your snippets by content, category, web address, application, and more.</p>
        </article>
        <article class="section-one-art-two">
          <h2>iCloud Sync</h2>
          <p>Instantly saves and syncs snippets across all your devices.</p>
        </article>
        <article class="section-one-art-three">
          <h2>Complete History</h2>
          <p>Retrieve any snippets from the first moment you started using the app.</p>
        </article>
      </div>
    </div>
  </section>
</main>
