<section class="section-three">
  <div class="section-three-sub-container">
    <h2 class="section-three-sub-container-heading" i18n="@@superchargeWorkflowHeading">Supercharge your workflow</h2>
    <p class="section-three-sub-container-content" i18n="@@superchargeWorkflowSubheading">We’ve got the tools to boost your productivity.</p>
  </div>
  <div class="section-three-articles">
    <article class="section-three-art-one">
      <img class="section-three-art-img" src="/icon-blacklist.svg" alt="blacklists icon" i18n="@@blacklistIconAlt">
      <h2 class="section-three-art-heading-one" i18n="@@createBlacklistsTitle">Create blacklists</h2>
      <p class="section-three-art-content-one" i18n="createBlacklistsDescription|Explains the blacklist feature">
        Ensure sensitive information never makes its way to your clipboard by excluding certain sources.
      </p>
    </article>
    <article class="section-three-art-two">
      <img class="section-three-art-img" src="/icon-text.svg" alt="text snippets icon" i18n="@@textSnippetsIconAlt">
      <h2 class="section-three-art-heading-two" i18n="@@plainTextSnippetsTitle">Plain text snippets</h2>
      <p class="section-three-art-content-two" i18n="plainTextSnippetsDescription|Explains the plain text snippets feature">Remove unwanted formatting from copied text for a consistent look.</p>
    </article>
    <article class="section-three-art-three">
      <img class="section-three-art-img" src="/icon-preview.svg" alt="preview icon" i18n="@@previewIconAlt">
      <h2 class="section-three-art-heading-three" i18n="@@sneakPreviewTitle">Sneak preview</h2>
      <p class="section-three-art-content-three" i18n="sneakPreviewDescription|Explains the sneak preview feature">Quick preview of all snippets on your Clipboard for easy access.</p>
    </article>
  </div>
</section>