<section class="platform-download">
  <h2 class="title" i18n="@@platformDownloadTitle">Clipboard for iOS and Mac OS</h2>
  <p class="description" i18n="platformDownloadDescription|Describes the availability and features of Clipboard on iOS and macOS">
    Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you're ready to start adding to
    your clipboard.
  </p>
  <div class="buttons">
    <button class="ios-button" (click)="onDownloadClicked('ios')" i18n="@@downloadIosButtonPlatform">Download for iOS</button>
    <button class="mac-button" (click)="onDownloadClicked('mac')" i18n="@@downloadMacButtonPlatform">Download for Mac</button>
  </div>
</section>